<html ng-app="app" ng-controller="AlunosCtrl">

  <!-- CADASTRO -->

    <div class="esquerda">
        <h1 class="tituloE"> Cadastrar aluno:</h1>

        <input class="textE" id="aluno" size="35" ng-model="nome"> <br>
    

        <button class="botaoE" ng-click="add(nome) "type="text" >Salvar</button>

     </div> 
  <!-- CADASTRO -->

  <!-- EDITAR -->

  <!-- <div class="centro">
    <h1 class="tituloC"> Encontrar/editar aluno:</h1>

    <input class="textC" id="aluno" size="35" name="aluno"> <br>

    <button class="botaoC" type="button">editar</button>

 </div>  -->
<!-- EDITAR -->

<!-- EXCLUIR -->

<!-- <div class="direita">
    <h1 class="tituloD"> Deletar aluno:</h1>

    <input class="textD" id="aluno" size="35" name="aluno"> <br>

    <button class="botaoD" type="button">cadastrar</button>

 </div>  -->
<!-- EXCLUIR -->




</html>